@font-face {
    font-family: Noir-Med;
    src: url("../fonts/noir-med.otf");
}

@font-face {
    font-family: Noir;
    src: url("../fonts/noir-reg.otf");
}

@font-face {
    font-family: SSB-Light;
    src: url("../fonts/SansSerifFLF.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    position: relative;
    background-image: url("../images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 20px;
}

header > i {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

header > a {
    margin-left: 1rem;
    font-family: Noir-Med, sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: inherit;
    transition: box-shadow;
    transition-duration: .2s;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    flex-wrap: wrap;
}

.option {
    width: 300px;
    height: 350px;
    display: block;
    text-decoration: none;
    color: inherit;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 1rem;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-property: color, background-color, transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.option > i {
    font-size: 2.5rem;
}

.option > h1 {
    font-family: Noir, sans-serif;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.option > p {
    text-align: justify;
    font-family: Calibri, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.option:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transform: translateY(-15px);
    box-shadow: 0px 0px 30px 10px #888888;
}

.scrollUpButton {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #111;
    color: #fff;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .8rem;

    transition-property: color, background-color, transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.scrollUpButton:hover {
    color: #000;
    background-color: #fff;
}

@media only screen and (max-width: 420px) {
    body {
        padding-bottom: 4rem;
    }

    .scrollUpButton {
        display: block;
    }

    .option:hover {
        transform: translateY(0px);
    }

    .options {
        margin-top: 20px;
    }

    header {
        flex-direction: column;
    }

    header > i {
        font-size: 1rem;
    }

    header > a {
        font-size: 2.5rem;
    }
}